.brand {
    color: white;
    margin: auto;
    padding: 0.5em;
    width: 50%;
    text-align: center;
}

.search-box {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.search-button {
    text-align: center;
}